body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.form_container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}
.form {
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 2rem; 
    align-items: center;
}
.form_input_element_container {
    display: flex;
    flex-direction: column;
}
.form_input_element_container > label{
    font-weight: bold;
    margin-bottom: 6px;

}
.form_title_container {
    text-align: center;

}
.form_input_element_container > input{
    padding: 0.5rem;

}
.form_title_container > h2 {
    margin: 0;
}
.form_button_container > button{
    width: 100%;
    padding: 10px; 
    background-color: #5c67f2; 
    border: none; 
    color: white; 
    cursor: pointer;
}